<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="corpo">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <!-- Cria uma linha -->
                <div class="col-12">
                    <!-- Espaçamento de colunas -->
                    <h1 class="text-center">Agendar Eventos</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="erroList">
        <ul>
            <li th:each="erro:${ErroLista}" th:text="${erro}"></li>
        </ul>
    </div>
    <div class="container">
        <form th:action="@{/age/save}" th:object="${agenda}" method="post">
            <input type="hidden" th:field="*{id}" />
            <div class="form-row">
                <div class="col">
                    <label>Selecione o Idoso</label>
                    <select class="form-control" th:field="*{pessoaId}">
                        <option th:each=" idoso : ${idosos}" th:value="${idoso.id}" th:text="(${idoso.nome} + ' ' + ${idoso.sobrenome})"></option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label>Digite o Compromisso:</label>
                    <input class="form-control" type="text" th:field="*{descricao}" placeholder="Digite o compromisso">
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label>Informe a Data:</label>
                    <input class="form-control" type="date" th:field="*{data}">
                </div>
                <div class="col">
                    <label>Informe o horario</label>
                    <input class="form-control" type="time" th:field="*{hora}">
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label>Digite o Endereço</label>
                    <input class="form-control" type="text" th:field="*{rua}" placeholder="Digite o endereço">
                </div>
                <div class="col">
                    <label>Digite o Número</label>
                    <input class="form-control" type="text" th:field="*{numerorua}" placeholder="Digite o número">
                </div>
            </div><hr />
            <div class="form-row text-center">
                <div class="col-12">
                    <input type="submit" class="btn btn-success" value="Cadastrar" />
                </div>
            </div>

        </form>
    </div>
</div>
</html>