<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="corpo">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <!-- Cria uma linha -->
                <div class="col-12">
                    <!-- Espaçamento de colunas -->
                    <h1 class="text-center">Cadastro de Paciente</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <form th:action="@{/pac/save}" id="formPac" method="post" th:object="${paciente}">
            <input type="hidden" th:field="*{pacid}">
            <div class="row text-center">
                <h1 style="width: 50px" class="border" onclick="reveal('parte1','parte2','parte3')">1</h1>
                <h1 style="width: 50px" class="border" onclick="reveal('parte2','parte1','parte3')">2</h1>
                <h1 style="width: 50px" class="border" onclick="reveal('parte3','parte2','parte1')">3</h1>
            </div>
            <div class="parte1">
                <div class="form-row">
                    <div class="col">
                        <label>Nome do idoso:</label>
                        <input type="text" id="princ" class="form-control pacname" th:field="*{pacnome}"
                            placeholder="Digite o nome do paciente" />

                        <div th:if="${#fields.hasErrors('pacnome')}" class="alert alert-danger" role="alert">
                            <span  th:errors="*{pacnome}" ></span>
                        </div>

                    </div>
                    
                    <div class="col">
                        <label>Sobrenome do idoso:</label>
                        <input type="text" th:field="*{pacsobrenome}" class="form-control pacname"
                            placeholder="Digite o sobrenome do paciente" />

                        <div th:if="${#fields.hasErrors('pacsobrenome')}" class="alert alert-danger" role="alert">
                            <span th:errors="*{pacsobrenome}" ></span>
                        </div>

                    </div>
                </div>
                <div class="form-row">
                    <div class="col-3">
                        <label>RG:</label>
                        <input type="text" class="form-control" placeholder="Digite o RG do paciente" maxlength="9"
                            th:field="*{pacrg}" />
                    </div>
                    <div class="col-3">
                        <label>CPF:</label>
                        <input type="text" class="form-control" placeholder="Digite o CPF do paciente" maxlength="11"
                            th:field="*{paccpf}" />

                        <div th:if="${#fields.hasErrors('paccpf')}" class="alert alert-danger" role="alert">
                            <span th:errors="*{paccpf}" ></span>
                        </div>

                    </div>
                    <div class="col-3">
                        <label>Data de nascimento</label>
                        <input type="date" class="form-control" th:field="*{pacdtnasc}" />

                        <div th:if="${#fields.hasErrors('pacdtnasc')}" class="alert alert-danger" role="alert">
                            <span th:errors="*{pacdtnasc}" ></span>
                        </div>

                    </div>
                    <div class="col-3">
                        <label>Estado Civil:</label>
                        <select class="form-control" th:field="*{pacestcivil}">
                            <option th:value="Solteiro" th:text="Solteiro">Solteiro</option>
                            <option th:value="Casado" th:text="Casado">Casado</option>
                            <option th:value="Viuvo" th:text="Viuvo">Viuvo</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-4">
                        <label>Religião:</label>
                        <select th:field="*{pacreligiao}"  class="form-control">
                            <option th:each=" rel : ${rels}" th:value="${rel.relid}" th:text="${rel.relnome}"></option>
                        </select>
                    </div>
                    <div class="col-4">
                        <label>Data de entrada</label>
                        <input type="date" class="form-control" th:field="*{pacdtentrada}" />

                        <div th:if="${#fields.hasErrors('pacdtentrada')}" class="alert alert-danger" role="alert">
                            <span th:errors="*{pacdtentrada}" ></span>
                        </div>

                    </div>
                    <div class="col-4">
                        <label>Sexo:</label>
                        <select class="form-control" th:field="*{pacsexo}">
                            <option th:value="Homem" th:text="Homem">Homem</option>
                            <option th:value="Mulher" th:text="Mulher">Mulher</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-4">
                        <label>Etnia</label>
                        <select class="form-control" th:field="*{pacetnia}">
                            <option th:value="Branco" th:text="Branco">Branco</option>
                            <option th:value="Pardo" th:text="Pardo">Pardo</option>
                            <option th:value="Negro" th:text="Negro">Negro</option>
                            <option th:value="Indio" th:text="Indio">Indio</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <label>Peso:</label>
                        <input class="form-control" placeholder="Digite o peso do paciente" type="text"
                            th:field="*{pacpeso}" />

                        <div th:if="${#fields.hasErrors('pacpeso')}" class="alert alert-danger" role="alert">
                            <span th:errors="*{pacpeso}" ></span>
                        </div>

                    </div>
                    <div class="col-4">
                        <label>Altura:</label>
                        <input class="form-control" placeholder="Digite a altura do paciente" type="text"
                            th:field="*{pacalt}" />

                        <div th:if="${#fields.hasErrors('pacalt')}" class="alert alert-danger" role="alert">
                            <span th:errors="*{pacalt}" ></span>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="parte2">
                <div class="form-row">
                    <div class="col-4">
                        <label>Encaminhado:</label>
                        <input class="form-control" placeholder="O paciente foi encaminhado por quem?" type="text"
                            th:field="*{pacenc}" />

                        <div th:if="${#fields.hasErrors('pacenc')}" class="alert alert-danger" role="alert">
                            <span th:errors="*{pacenc}" ></span>
                        </div>    
                    </div>
                    <div class="col-4">
                        <label>Condição de Chegada:</label>
                        <select class="form-control" th:field="*{pacchegada}">
                            <option th:value="Consciente" th:text="Consciente">Consciente</option>
                            <option th:value="Comunicativo" th:text="Comunicativo">Comunicativo</option>
                            <option th:value="Orientado" th:text="Orientado">Orientado</option>
                            <option th:value="Confuso" th:text="Confuso">Confuso</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <label>Grau de Dependencia:</label>
                        <select class="form-control" th:field="*{pacdep}">
                            <option th:value="SemAuxilio">0 - Sem Auxilio</option>
                            <option th:value="Muletas">1 - Muletas</option>
                            <option th:value="Cadeirantes">2 - Cadeirantes</option>
                            <option th:value="Acamado">3 - Acamado</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-3">
                        <label>Possui algum vicio:</label>
                        <select class="form-control" th:field="*{pacvicio}">
                            <option th:value="Nao" th:text="Não">Não</option>
                            <option th:value="Sim" th:text="Sim">Sim</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label>Hipertenso:</label>
                        <select class="form-control" th:field="*{pachipertenso}">
                            <option th:value="Nao" th:text="Não">Não</option>
                            <option th:value="Sim" th:text="Sim">Sim</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label>Diabetico:</label>
                        <select class="form-control" th:field="*{pacdiabete}">
                            <option th:value="Nao" th:text="Não">Não</option>
                            <option th:value="Sim" th:text="Sim">Sim</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label>Fez alguma cirurgia:</label>
                        <select class="form-control" th:field="*{paccirurgia}">
                            <option th:value="Nao" th:text="Não">Não</option>
                            <option th:value="Sim" th:text="Sim">Sim</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-3">
                        <label>Possui Ulcera de Pressão:</label>
                        <select class="form-control" th:field="*{paculcera}">
                            <option th:value="Nao" th:text="Não">Não</option>
                            <option th:value="Sim" th:text="Sim">Sim</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label>Qual estágio da ulcera(Caso Tiver):</label>
                        <select class="form-control" th:field="*{paculceraest}">
                            <option th:value="0" th:text="0">0</option>
                            <option th:value="I" th:text="I">I</option>
                            <option th:value="II" th:text="II">II</option>
                            <option th:value="III" th:text="III">III</option>
                            <option th:value="IV" th:text="IV">IV</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label>Crise Convulsiva:</label>
                        <select class="form-control" th:field="*{paccrisecon}">
                            <option th:value="Nao" th:text="Não">Não</option>
                            <option th:value="Sim" th:text="Sim">Sim</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label>Faz uso de medicamento contínuo</label>
                        <select class="form-control" th:field="*{pacmedicamento}">
                            <option th:value="Nao" th:text="Não">Não</option>
                            <option th:value="Sim" th:text="Sim">Sim</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label>Alérgico a algum medicamento</label>
                        <select class="form-control" th:field="*{pacalergiamed}">
                            <option th:value="Nao" th:text="Não">Não</option>
                            <option th:value="Sim" th:text="Sim">Sim</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="parte3">
                <label>Descrição da Chegada do idoso:</label>
                <textarea id="descChegIdo" type="text" class="form-control"
                    placeholder="EX: o idoso foi encontrado na rua e encaminhado ao lar santo antônio..."
                    th:field="*{pacchegadadesc}"></textarea>

                <label>Descrição do vicio do Idoso:</label>
                <textarea id="descVicIdo" type="text" class="form-control"
                    placeholder="EX: o idoso era viciado em cervaja, isso trouxe-lhe os seguintes problemas:..."
                    th:field="*{pacviciodesc}"></textarea>
                <label>Descrição da cirurgia do Idoso:</label>
                <textarea id="descCirIdo" type="text" class="form-control"
                    placeholder="EX: o idoso teve problemas com seu rim, devido a isso ele foi obrigado a fazer a remoção..."
                    th:field="*{paccirurgiadesc}"></textarea>
                <label>Descrição do medicamento do Idoso:</label>
                <textarea id="descMedIdo" type="text" class="form-control"
                    placeholder="EX: o idoso faz uso dos seguintes medicamentos:..."
                    th:field="*{pacmedicamentodesc}"></textarea>
                <label>Descrição da alergia do Idoso:</label>
                <textarea id="descAleIdo" type="text" class="form-control"
                    placeholder="EX: o idoso tem alergia a gatos." name="pacAlerDesc"
                    th:field="*{pacalergiadesc}"></textarea>
            </div>
    <hr />
    <div class="form-row text-center">
        <div class="col-12">
            <input type="submit" class="btn btn-success" value="Cadastrar" />
        </div>
    </div>
    </form>
</div>
</div>

</html>