<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="corpo">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <!-- Cria uma linha -->
                <div class="col-12">
                    <!-- Espaçamento de colunas -->
                    <h1 class="text-center">Agenda de medicamentos</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Idoso</th>
                    <th>Medicamento</th>
                    <th>Dosagem</th>
                    <th>Horário</th>
                    <th>Data Final</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="age : ${agenda}">
                    <th><span th:text="${age.pessoaNome} +' '+ ${age.pessoaSobrenome}"></span></th>
                    <th><span th:text="${age.medicamentoNome} + ' '+ ${age.medicamentoDosagem}"></span> </th>
                    <th><span th:text="${age.dosagem}"></span></th>
                    <th><span th:text="${age.horaMedicamento}"></span></th>
                    <th><span th:text="${#temporals.format(age.diaFimMedicamento, 'dd/MM/yyyy')}"></span></th>
                    <th><a class="btn btn-info" th:href="@{/agemed/alteraagenda/} + ${age.id}">Alterar</a></th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</html>