<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="corpo">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <!-- Cria uma linha -->
                <div class="col-12">
                    <!-- Espaçamento de colunas -->
                    <h1 class="text-center">Agendar Medicação</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="erroList">
        <ul>
            <li th:each="erro:${ErroLista}" th:text="${erro}"></li>
        </ul>
    </div>
    <div class="container">
        <form th:action="@{/agemed/save}" th:object="${agendaMedicamentos}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <div class="form-row">
                <div class="col-6">
                    <p>Selecione o paciente:</p>
                    <select th:field="*{pessoaId}" class="form-control" name="paciente">
                        <option th:each=" idoso: ${idosos}" th:value="${idoso.id}"
                                th:text="(${idoso.nome} + ' ' + ${idoso.sobrenome})"></option>
                    </select>
                </div>
                <div class="col-6">
                    <p>Selecione o Medicamento:</p>
                    <select th:field="*{medicamentoId}" class="form-control" name="medicamento">
                        <option th:each=" med : ${medicamentos}" th:value="${med.id}"
                                th:text="${med.nome}"></option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="col-4">
                    <label>Prosologia do medicamento:</label>
                    <input th:field="*{dosagem}" class="form-control" type="text"
                           placeholder="Ex: 15mg" value=""/>
                </div>
                <div class="col-4">
                    <label>Inicio da medicação dia:</label>
                    <input th:field="*{inicio}" class="form-control" type="date" value=""/>
                </div>
                <div class="col-4">
                    <label>Fim da medicação dia:</label>
                    <input th:field="*{fim}" class="form-control" type="date" name="pacmedDaten" value=""/>
                </div>
            </div>
            <div class="form-row">
                <div class="col-6">
                    <label>Hora base para medicacao:</label>
                    <input th:field="*{horabase}" class="form-control" type="time" value=""/>
                </div>
                <div class="col-6">
                    <label>Tomar a cada quantas Horas:</label>
                    <input th:field="*{horasmedicamento}" class="form-control" type="number" value=""/>
                </div>
            </div>

            <hr>
            <div class="form-row text-center">
                <div class="col-12">
                    <input class="btn btn-success" type="submit" name="frmSubmit" value="Cadastrar"/>
                </div>
            </div>
        </form>
    </div>
</div>
</html>