<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="corpo">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <!-- Cria uma linha -->
                <div class="col-12">
                    <!-- Espaçamento de colunas -->
                    <h1 class="text-center">Cadastro de Idoso</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="erroList">
        <ul>
            <li th:each="erro:${ErroLista}" th:text="${erro}"></li>
        </ul>
    </div>
    <div class="container">

        <form th:action="@{/pessoa/cadastro/idoso}" id="formPac" method="post" th:object="${idoso}">
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{pessoaId}">
            <div class="form-group">
                <div class="form-row">
                    <div class="col-6">
                        <label>Altura do idoso:</label>
                        <input type="text" class="form-control" th:field="*{altura}">
                    </div>
                    <div class="col-6">
                        <label>Peso do idoso:</label>
                        <input type="text" class="form-control" th:field="*{peso}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-4">
                            <label>Encaminhado</label>
                            <select type="text" class="form-control" th:field="*{encaminhado}">
                                <option value="Familia">Familia</option>
                                <option value="Rua">Rua</option>
                                <option value="Hospital">Hospital</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label>Chegada:</label>
                            <select type="text" class="form-control" th:field="*{chegada}">
                                <option value="Comunicativo">Comunicativo</option>
                                <option value="Consciênte">Consciênte</option>
                                <option value="Orientado">Orientado</option>
                                <option value="Confuso">Confuso</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label>Etnia:</label>
                            <select type="text" class="form-control" th:field="*{etnia}">
                                <option value="Branco">Branco</option>
                                <option value="Pardo">Pardo</option>
                                <option value="Negro">Negro</option>
                                <option value="Indio">Indio</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-3">
                        <label>Possui Diabete:</label>
                        <select type="text" class="form-control" th:field="*{diabetico}">
                            <option value="Não Possui">Não Possui</option>
                            <option value="Possui">Possui</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label>Possui Ulcera:</label>
                        <select type="text" class="form-control" th:field="*{estagioulcera}">
                            <option value="0">0 - Não Possui Ulcera</option>
                            <option value="1">1 - Estagio I</option>
                            <option value="2">2 - Estagio II</option>
                            <option value="3">3 - Estagio III</option>
                            <option value="4">4 - Estagio IV</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label>Possui Crise Convulsiva:</label>
                        <select type="text" class="form-control" th:field="*{criseconvulsiva}">
                            <option value="Não Possui">Não Possui</option>
                            <option value="Possui">Possui</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label>Possui Hipertensão:</label>
                        <select type="text" class="form-control" th:field="*{hipertenso}">
                            <option value="Não Possui">Não Possui</option>
                            <option value="Possui">Possui</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col">
                        <label>Estado Civil:</label>
                        <select type="text" class="form-control" th:field="*{estadocivil}">
                            <option value="Não Possui">Casado</option>
                            <option value="Não Possui">Solteiro</option>
                            <option value="Não Possui">Viuvo</option>
                        </select>
                    </div>
                    <div class="col">
                        <label>Grau de Dependência:</label>
                        <select type="text" class="form-control" th:field="*{graudependencia}">
                            <option value="Sem Auxilio">Sem Auxilio</option>
                            <option value="Muletas">Muletas</option>
                            <option value="Cadeira de Rodas">Cadeira de Rodas</option>
                            <option value="Acamado">Acamado</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col">
                        <label>Possui Vicio:</label>
                        <select type="text" class="form-control" th:field="*{possuivicio}">
                            <option value="Não">Não</option>
                            <option value="Sim">Sim</option>
                        </select>
                    </div>
                    <div class="col">
                        <label>Faz uso de medicamento continuo:</label>
                        <select type="text" class="form-control" th:field="*{usamedicamento}">
                            <option value="Não">Não</option>
                            <option value="Sim">Sim</option>
                        </select>
                    </div>
                    <div class="col">
                        <label>Fez alguma cirurgia:</label>
                        <select type="text" class="form-control" th:field="*{fezcirurgia}">
                            <option value="Não">Não</option>
                            <option value="Sim">Sim</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="mb-3 form-row">
                <div class="col">
                    <label>Religiao:</label>
                    <select th:field="*{religiaoId}" class="form-control">
                        <option th:each=" religiao : ${rel}" th:value="${religiao.id}"
                                th:text="(${religiao.nome} + ' - ' + ${religiao.vertente})"></option>
                    </select>
                </div>
            </div>
            <button class="btn btn-primary btn-block" type="submit">Concluir Cadastro</button>
        </form>
    </div>
    <script>
        $("#altura").mask("0.00");
        $("#peso").mask("Z00.00", {translation: {'Z': {pattern: /[0-9]/, optional: true}}});
    </script>
</div>
</html>