<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="corpo">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <!-- Cria uma linha -->
                <div class="col-12">
                    <!-- Espaçamento de colunas -->
                    <h1 class="text-center">Tela de prontuário</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <form th:action="@{/pessoa/prontuario/buscar}" th:object="${idoso}" method="get">
            <div class="form-row">
                <div class="col">
                    <label>Idoso:</label>
                    <select th:field="*{id}" class="form-control">
                        <option th:each=" ido : ${idosos}" th:value="${ido.id}"
                                th:text="(${ido.nome} + ' ' + ${ido.sobrenome})"></option>
                    </select>
                    <div class="text-center">
                        <input type="submit" class="mt-5 btn btn-dark" value="Gerar Prontuário">
                    </div>
                </div>
            </div>
        </form>
        <hr>
        <div th:if="${prontuario}!= null">
            <div class="card rounded">
                <div class="card-header bg-primary text-light text-center">Prontuario</div>
                <div class="card-body">
                    <div class="row text-center">
                        <div class="col border p-2"><span>Nome: </span><span
                                th:text="${prontuario.pessoa.nome}">texto</span>
                            <span th:text="${prontuario.pessoa.sobrenome}">texto</span></div>
                        <div class="col border p-2"><span>Data de nascimento: </span><span
                                th:text="${#temporals.format(prontuario.pessoa.datanascimento, 'dd/MM/yyyy')}">text</span>
                        </div>
                    </div>
                    <div class="row text-center mt-2">
                        <div class="col border p-2"><span>CPF: </span><span
                                th:text="${prontuario.pessoa.cpf}">text</span>
                        </div>
                        <div class="col border p-2"><span>RG: </span><span th:text="${prontuario.pessoa.rg}">text</span>
                        </div>
                        <div class="col border p-2"><span>Data de Entrada: </span><span
                                th:text="${#temporals.format(prontuario.pessoa.dataentrada, 'dd/MM/yyyy')}">text</span>
                        </div>
                    </div>
                    <div class="row text-center mt-2">
                        <div class="col border p-2"><span>Sexo: </span><span
                                th:text="${prontuario.pessoa.sexo}">text</span>
                        </div>
                        <!--                        <div class="col border p-2"><span>Peso: </span><span th:text="${pacpront.pacpeso}">text</span>-->
                        <!--                        </div>-->
                        <!--                        <div class="col border p-2"><span>Altura: </span><span th:text="${pacpront.pacalt}">text</span>-->
                        <!--                        </div>-->
                    </div>
                    <div class="row text-center mt-2">
                        <div class="col border p-2"><span>Encaminhamento: </span><span
                                th:text="${prontuario.idoso.encaminhado}">text</span></div>
                        <div class="col border p-2"><span>Condição de Chegada: </span><span
                                th:text="${prontuario.idoso.chegada}">text</span></div>
                        <div class="col border p-2"><span>Nivel de Úlcera: </span><span
                                th:text="${prontuario.idoso.estagioulcera}">text</span></div>
                    </div>
                    <div class="row text-center mt-2">
                        <div class="col border p-2"><span>Diabético: </span>
                            <span th:if="${prontuario.idoso.diabetico} == Sim">Sim</span><span
                                th:if="${prontuario.idoso.diabetico} == Nao">Não</span></div>
                        <div class="col border p-2"><span>Possui Crise Convulsiva: </span><span
                                th:if="${prontuario.idoso.criseconvulsiva} == Sim">Sim</span><span
                                th:if="${prontuario.idoso.criseconvulsiva} == Nao">Não</span></div>
                    </div>
                    <div th:if="${prontuario.religiao} != null" class="card mt-2">
                        <div class="card-header bg-primary text-center text-light">Informações da religião do Idoso
                        </div>
                        <div class="card-body">
                            <div class="row text-center mt-2">
                                <div class="col border p-2"><span>Nome da Relgião: </span><span
                                        th:text="${prontuario.religiao.nome}">text</span>
                                </div>
                                <div th:if="${prontuario.religiao.vertente} != null" class="col border p-2">
                                    <span>Vertente: </span><span
                                        th:text="${prontuario.religiao.vertente}">text</span></div>
                            </div>
                            <div class="row text-center mt-2">
                                <div th:if="${prontuario.religiao.descricao} != null" class="col border p-2"><span>Descrição da Religião: </span><span
                                        th:text="${prontuario.religiao.descricao}">text</span></div>
                            </div>
                        </div>
                    </div>
                    <div th:if="${prontuario.responsavel} != null" class="card mt-2">
                        <div class="card-header bg-primary text-center text-light">Informações do Responsável</div>
                        <div class="card-body">
                            <div class="row text-center mt-2">
                                <div class="col border p-2"><span>Nome: </span><span
                                        th:text="${prontuario.responsavel.nome}">text</span> <span
                                        th:text="${prontuario.responsavel.sobrenome}">text</span>
                                </div>
                                <div class="col border p-2"><span>Data de Nascimento: </span><span
                                        th:text="${#temporals.format(prontuario.responsavel.datanascimento, 'dd/MM/yyyy')}">text</span>
                                </div>
                                <div class="col border p-2">
                                    <span>Telefone/Celular: </span>(<span
                                        th:text="${prontuario.responsavel.telefoneddd}">text</span>) </span>
                                    <span th:text="${prontuario.responsavel.telefonenumero}">text</span>
                                </div>
                            </div>
                            <div class="row text-center mt-2">
                                <div class="col border p-2"><span>UF: </span><span
                                        th:text="${prontuario.responsavel.estado}">text</span>
                                </div>
                                <div class="col border p-2"><span>Cidade: </span><span
                                        th:text="${prontuario.responsavel.cidade}">text</span>
                                </div>
                                <div class="col border p-2"><span>Rua: </span><span
                                        th:text="${prontuario.responsavel.enderecorua}">text</span>
                                </div>
                                <div class="col border p-2"><span>Número: </span><span
                                        th:text="${prontuario.responsavel.endereconumero}">text</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:if="${!prontuario.anotacoes.isEmpty()}" class="card mt-2">
                        <div class="card-header bg-primary text-center text-light">Anotações</div>
                        <div class="card-body">
                            <div th:each="anotacao : ${prontuario.anotacoes}">
                                <div class="row text-center mt-2">
                                    <div class="col-2 border p-2"><span>Data da Anotação: </span><span
                                            th:text="${#temporals.format(anotacao.data, 'dd/MM/yyyy')}">text</span>
                                    </div>
                                    <div class="col-10 border p-2">
                                        <span><b>Mensagem: </b></span><span
                                            th:text="${anotacao.descricao}">text</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</html>