<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="corpo">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <!-- Cria uma linha -->
                <div class="col-12">
                    <!-- Espaçamento de colunas -->
                    <h1 class="text-center">Cadastro de Anotação</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="erroList">
        <ul>
            <li th:each="erro:${ErroLista}" th:text="${erro}"></li>
        </ul>
    </div>
    <div class="container">
        <form th:action="@{/ano/save}" th:object="${anotacoes}" method="post">
            <input type="hidden" th:field="*{id}" />
            <div class="form-row">
                <div class="col-6">
                    <label>Idoso:</label>
                    <select th:field="*{idosoId}" class="form-control">
                        <option th:each=" idoso : ${idosos}" th:value="${idoso.id}" th:text="${idoso.nome} + ' ' + ${idoso.sobrenome}"></option>
                    </select>
                </div>

                <div class="col-6">
                    <label>Data da anotação</label>
                    <input class="form-control" type="date" th:field="*{data}">
                </div>
            </div>
            <div class="form-row">
                <div class="col-12">
                    <label>Descrição da anotação</label>
                    <textarea class="form-control char-control" th:field="*{descricao}"></textarea>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-5"></div>
                <div class="col-3">
                    <input type="submit" value="Cadastrar" class="btn btn-success">
                </div>
                <div class="col-4"></div>
            </div>
        </form>
    </div>
</div>
</html>