<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="corpo">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <!-- Cria uma linha -->
                <div class="col-12">
                    <!-- Espaçamento de colunas -->
                    <h1 class="text-center">Cadastro de Anotação</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <form th:action="@{/ano/save}" th:object="${anotacoes}" method="post">
            <input type="hidden" th:field="*{anoid}" />
            <div class="form-row">
                <div class="col-6">
                    <label>Idoso:</label>
                    <select th:field="*{anopacid}" class="form-control">
                        <option th:each=" pac : ${pacientes}" th:value="${pac.pacid}" th:text="${pac.pacnome}"></option>
                    </select>
                    <div th:if="${#fields.hasErrors('anopacid')}" class="alert alert-danger" role="alert">
                        <span th:errors="*{anopacid}"></span>
                    </div>
                </div>

                <div class="col-6">
                    <label>Data da anotação</label>
                    <input class="form-control" type="date" th:field="*{anodt}">
                    <div th:if="${#fields.hasErrors('anodt')}" class="alert alert-danger" role="alert">
                        <span th:errors="*{anodt}"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-12">
                    <label>Descrição da anotação</label>
                    <textarea class="form-control" th:field="*{anocamp}"></textarea>
                    <div th:if="${#fields.hasErrors('anocamp')}" class="alert alert-danger" role="alert">
                        <span th:errors="*{anocamp}"></span>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-5"></div>
                <div class="col-3">
                    <input type="submit" value="Cadastrar" class="btn btn-success">
                </div>
                <div class="col-4"></div>
            </div>
        </form>
    </div>
</div>
</html>