<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="corpo">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <!-- Cria uma linha -->
                <div class="col-12">
                    <!-- Espaçamento de colunas -->
                    <h1 class="text-center">Tela de Recado</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="h5 alert alert-info" th:text="${message}"></div>
    </div>
</div>
</html>