<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="corpo">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <!-- Cria uma linha -->
                <div class="col-12">
                    <!-- Espaçamento de colunas -->
                    <h1 class="text-center">Cadastro de Religião</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <form th:action="@{/resp/save}" th:object="${responsaveis}" method="post">
            <input type="hidden" th:field="*{resid}">
            <div class="form-row">
                <div class="col-12">
                    <label for="respacid">Idoso:</label>
                    <select class="form-control" th:field="*{respacid}" id="">
                        <option th:each=" pac : ${pacientes}" th:value="${pac.pacid}" th:text="${pac.pacnome}"></option>
                    </select>
                    <div th:if="${#fields.hasErrors('respacid')}" class="alert alert-danger" role="alert">
                        <span th:errors="*{respacid}"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-6">
                    <label for="resnome">Nome do responsavel</label>
                    <input class="form-control" type="text" th:field="*{resnome}">
                    <div th:if="${#fields.hasErrors('resnome')}" class="alert alert-danger" role="alert">
                        <span th:errors="*{resnome}"></span>
                    </div>
                </div>
                <div class="col-6">
                    <label for="ressobrenome">Sobrenome do responsavel</label>
                    <input class="form-control" type="text" th:field="*{ressobrenome}">
                    <div th:if="${#fields.hasErrors('ressobrenome')}" class="alert alert-danger" role="alert">
                        <span th:errors="*{ressobrenome}"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-6">
                    <label for="rescpf">CPF do responsavel</label>
                    <input class="form-control" type="text" th:field="*{rescpf}">
                    <div th:if="${#fields.hasErrors('rescpf')}" class="alert alert-danger" role="alert">
                        <span th:errors="*{rescpf}"></span>
                    </div>
                </div>
                <div class="col-6">
                    <label for="resdtnasc">Data de nascimento do responsavel</label>
                    <input class="form-control" type="date" th:field="*{resdtnasc}">
                    <div th:if="${#fields.hasErrors('resdtnasc')}" class="alert alert-danger" role="alert">
                        <span th:errors="*{resdtnasc}"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-3">
                    <label for="resestado">Estado(UF):</label>
                    <select th:field="*{resestado}" class="form-control">
                        <option value="AC">Acre</option>
                        <option value="AL">Alagoas</option>
                        <option value="AP">Amapá</option>
                        <option value="AM">Amazonas</option>
                        <option value="BA">Bahia</option>
                        <option value="CE">Ceará</option>
                        <option value="DF">Distrito Federal</option>
                        <option value="ES">Espírito Santo</option>
                        <option value="GO">Goiás</option>
                        <option value="MA">Maranhão</option>
                        <option value="MT">Mato Grosso</option>
                        <option value="MS">Mato Grosso do Sul</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="PA">Pará</option>
                        <option value="PB">Paraíba</option>
                        <option value="PR">Paraná</option>
                        <option value="PE">Pernambuco</option>
                        <option value="PI">Piauí</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="RN">Rio Grande do Norte</option>
                        <option value="RS">Rio Grande do Sul</option>
                        <option value="RO">Rondônia</option>
                        <option value="RR">Roraima</option>
                        <option value="SC">Santa Catarina</option>
                        <option value="SP">São Paulo</option>
                        <option value="SE">Sergipe</option>
                        <option value="TO">Tocantins</option>
                    </select>
                </div>
                <div class="col-3">
                    <label for="rescidade">Cidade do responsavel</label>
                    <input class="form-control" type="text" th:field="*{rescidade}">
                    <div th:if="${#fields.hasErrors('rescidade')}" class="alert alert-danger" role="alert">
                        <span th:errors="*{rescidade}"></span>
                    </div>
                </div>
                <div class="col-3">
                    <label for="resendrua">Rua do responsavel</label>
                    <input class="form-control" type="text" th:field="*{resendrua}">
                    <div th:if="${#fields.hasErrors('resendrua')}" class="alert alert-danger" role="alert">
                        <span th:errors="*{resendrua}"></span>
                    </div>
                </div>
                <div class="col-3">
                    <label for="resendnum">Número da habitação do responsavel</label>
                    <input class="form-control" type="text" th:field="*{resendnum}">
                    <div th:if="${#fields.hasErrors('resendnum')}" class="alert alert-danger" role="alert">
                        <span th:errors="*{resendnum}"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-3">
                    <label for="restelddd">DDD do telefone do responsavel</label>
                    <input class="form-control" type="text" th:field="*{restelddd}">
                    <div th:if="${#fields.hasErrors('restelddd')}" class="alert alert-danger" role="alert">
                        <span th:errors="*{restelddd}"></span>
                    </div>
                </div>
                <div class="col-9">
                    <label for="restelnum1">Telefone do responsavel</label>
                    <input class="form-control" type="text" th:field="*{restelnum1}">
                    <div th:if="${#fields.hasErrors('restelnum1')}" class="alert alert-danger" role="alert">
                        <span th:errors="*{restelnum1}"></span>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-5"></div>
                <div class="col-3">
                    <input type="submit" value="Cadastrar" class="btn btn-success">
                </div>
                <div class="col-4"></div>
            </div>
        </form>
    </div>
</div>

</html>